@*@page "/recuperar-clave"
@inherits RecuperarClaveIndexBase

@*<div class="container-fluid">
    <div class="row justify-content-center cnt-login vh-100">
        <div class="col-4 align-self-center">
            <div class="card div-align-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Recuperar Contraseña</h5>
                    <form action="">
                        <div class="cnt-input-login">
                            <TextEdit @bind-Text="@_usuario.passTMP" Placeholder="Clave Temporal" ></TextEdit>
                        </div>
                        <div class="cnt-input-login">
                           @<TextEdit @bind-Text="@_usuario.newPass" Placeholder="Nueva Clave"></TextEdit>
                        </div>
                        <div class="cnt-input-login">
                            <TextEdit @bind-Text="@_usuario.newPassConfirm" Placeholder="Confirmar Nueva Clave"></TextEdit>
                        </div>
                        <a href="index" type="submit" class="btn btn-primary btn-block" @onclick="Enviar">Enviar</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 align-items-center bg-login-right">

        </div>
    </div>
</div>*@
