@inherits TituloComponentBase
<div class="cnt-titulo">
    <div class="container">
        <div class="row row-spacing-bottom">
            <div class="col-md-10">
                <h2 class="titulo-pagina"> @_titulo </h2>
            </div>
            @*<div class="col-md-2">
                <button class="btn btn-create"> Crear</button>
            </div>*@
        </div>
    </div>
</div>
