@page "/domicilio/despacho"

@attribute [Authorize]

<TituloComponent _titulo="Despacho Mercancía"></TituloComponent>

<div class="container">
    <div class="row">
        @*<DataGrid>

        </DataGrid>*@
    </div>
</div>