@page "/"

    <AuthorizeView>
        <Authorized>
            <h1>Hola !</h1>

            Bienvenido.
            
        </Authorized>
        <NotAuthorized>
            <Login></Login>
        </NotAuthorized>
    </AuthorizeView>