@attribute [Authorize]
@inherits NuevaClaveIndexBase

<div class="container">
    <div class="row cnt-input-change-pass">
        <div class="col-md-12">
            <TextEdit @bind-Text="@_usuario.passTMP" Type=@(_mostrarPassword ? "password" : "text") Label="Clave actual" Icon=@(_mostrarPassword ? "remove_red_eye" : "lock") IconOnClick="togglePassTMP" Outlined="true" class="input-change-pass"></TextEdit>
        </div>
        <div class="col-md-12">
            <TextEdit @bind-Text="@_usuario.password" Type=@(_mostrarPassword2 ? "password" : "text") Label="Nueva Clave" Icon=@(_mostrarPassword2 ? "remove_red_eye" : "lock") IconOnClick="togglePass" Outlined="true" class="input-change-pass"></TextEdit>
        </div>
        <div class="col-md-12">
            <TextEdit @bind-Text="@_usuario.passwordconfirm" Type=@(_mostrarPassword3 ? "password" : "text") Label="Confirmar Clave" Icon=@(_mostrarPassword3 ? "remove_red_eye" : "lock") IconOnClick="toggleConfirmPass" Outlined="true" class="input-change-pass"></TextEdit>
        </div>

        <div class="col-md-12">
            <button class="btn btn-primary" @onclick="changePass">Cambiar clave</button>
        </div>
    </div>
    @if (!String.IsNullOrEmpty(Mensaje))
    {
        <div class="row" style="text-align:left; font-weight:bold">
            <span>
                @foreach (String mensaje in Mensaje.Split("&s"))
                {
                    @mensaje
                    <br />
                }
            </span>
        </div>
    }
</div>
