@attribute [Authorize]
@inherits NuevaClaveIndexBase

<div class="container">
    <div class="row cnt-input-change-pass">
        <div class="col-md-12">
            <div class="module-input-icono">
                <TextEdit @bind-Text="@_usuario.passTMP" Role=@(_mostrarPassword ? TextRole.Password : TextRole.Text) Placeholder="Clave actual" class="input-change-pass" ChangeTextOnKeyPress="false"></TextEdit>
                <i class=@(_mostrarPassword ? "fas fa-eye" : "far fa-eye-slash") @onclick="togglePassTMP"></i>
            </div>

        </div>
        <div class="col-md-12">
            <div class="module-input-icono">
                <TextEdit @bind-Text="@_usuario.password" Role=@(_mostrarPassword2 ? TextRole.Password : TextRole.Text) Placeholder="Nueva Clave" class="input-change-pass" ChangeTextOnKeyPress="false"></TextEdit>
                <i class=@(_mostrarPassword2 ? "fas fa-eye" : "far fa-eye-slash") @onclick="togglePass"></i>
            </div> 
       </div>
        <div class="col-md-12">
            <div class="module-input-icono">
                <TextEdit @bind-Text="@_usuario.passwordconfirm" Role=@(_mostrarPassword3 ? TextRole.Password : TextRole.Text) Placeholder="Confirmar Clave" class="input-change-pass" ChangeTextOnKeyPress="false"></TextEdit>
                <i class=@(_mostrarPassword3 ? "fas fa-eye" : "far fa-eye-slash") @onclick="toggleConfirmPass"></i>
            </div>
        </div>

        <div class="col-md-12">
            <button class="btn btn-primary" @onclick="changePass">Cambiar clave</button>
        </div>
    </div>
    @if (!String.IsNullOrEmpty(Mensaje))
    {
        <div class="row" style="text-align:left; font-weight:bold">
            <span>
                @foreach (String mensaje in Mensaje.Split("&s"))
                {
                    @mensaje
                    <br />
                }
            </span>
        </div>
    }
</div>
