
@inherits LoginBase

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-4">
            <div id="login">
                <img src="img/short-logo.jpeg" class="short-logo-login-oikos" alt="Alternate Text" />
                <h2>Ingresar</h2>
                <Field>
                    <TextEdit Placeholder="Usuario" Role="TextRole.Email" Text="@usuario"/>
                </Field>

                <Field>
                    <TextEdit Placeholder="Contraseña" Role="TextRole.Password" />
                </Field>

                <Button Color="Color.Primary" Block="true" @onclick="Logueo">Ingresar</Button>
            </div>
        </div>
        <div class="col-md-8 align-items-center bg-login-right">
            <div class="text-oikos-login">
                <h1>Oikos Green</h1>
                <h2>Cuidamos el planeta</h2>
            </div>
            <div class="decoration"></div>
        </div>
    </div>
</div>
