
@inherits LoginBase

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-4">
            <div id="login">
                <img src="img/short-logo.jpeg" class="short-logo-login-oikos" alt="Alternate Text" />
                <h2 class="text-center">Ingresar</h2>
                <form action="javaScript:void(0)" method="post">
                    <Field>
                        <TextEdit Placeholder="Usuario" Role="TextRole.Text" @bind-Text="@_login.user" ChangeTextOnKeyPress="false" />
                    </Field>

                    <div class="module-input-icono">
                        <Field>
                            <TextEdit Placeholder="Contraseña" Role=@(showPassword ? TextRole.Text : TextRole.Password) @bind-Text="@_login.password" ChangeTextOnKeyPress="false" />
                        </Field>
                        <i class=@(showPassword ? "fas fa-eye" : "far fa-eye-slash") @onclick="togglePass"></i>
                    </div>

                        <Button Color="Color.Primary" Block="true" Clicked="Logueo" Type="ButtonType.Submit">Ingresar</Button>

                        <a href="/olvido-clave" class="centrar"> Recordar Contraseña </a>

                </form>
            </div>
        </div>
        <div class="col-md-8 align-items-center bg-login-right">
            @*<div class="text-oikos-login">
                <h1>Oikos Green</h1>
                <h2>Cuidamos el planeta</h2>
            </div>
            <div class="decoration"></div>*@
        </div>
    </div>
</div>
