@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

html, body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: 'Averia Serif Libre', cursive;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.short-logo-login-oikos {
    max-width: 120px;
    display: block;
    margin: 0 auto;
}

/*MAIN*/
.main > .content {
    padding: 0 !important;
}

/*LOGIN*/

#login {
    max-width: 60%;
    margin: 0 auto
}

.bg-login-right {
    background: url(../img/OIKOS-GREEN-marca-ok.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: #FFF;
}

    /*.bg-login-right::after {
        content: '';
        background: #005f47;
        position: absolute;
        top: 0;
        right: -1.5rem;
        width: 100%;
        height: 100%;
        z-index: -1;
    }*/

/*.decoration {
    position: fixed;
    bottom: -9px;
    right: -7.5rem;
    width: 350px;
    height: 350px;
    border-radius: 50% 50px;
    background: #0B4A30;
}

    .decoration:after {
        content: '';
        background: #0c4d32;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
        height: 300px;
        border-radius: 50% 50px;
    }*/

.text-oikos-login {
    position: absolute;
    top: calc(50% - 50px);
}

    .text-oikos-login h1 {
        font-weight: bold;
        font-size: 52px;
        line-height: 55px;
    }

.centrar {
    display: block;
    text-align: center;
}
@media screen and (max-width:768px) {
    .bg-login-right {
        display: none;
    }
}


.blazored-menu li a,
.blazored-menu li span {
    color: #FFF !important;
}

.blazored-menu li a:hover,
.blazored-menu li span:hover {
    text-decoration: none !important;
}

    .row-spacing-bottom {
        margin-bottom: 10px;
    }

.cnt-titulo {
    padding: 11px 0;
    text-transform: uppercase;
    background: url(../img/OIKOS-GREEN-bg.png) center center repeat;
    background-size: contain;
}

.edit-button {
    margin-right: 5px;
}

.btn-create {
    width: 100%;
    color: #FFF;
    border: 0 !important; 
    background: rgb(201,222,150); 
    background: -moz-linear-gradient(top, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%);
    background: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%);
    background: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
}

.btn-active {
    background-color: #e28541;
}

.btn-cancel {
    background-color: #e28541;
}

.menu-ek .active {
    background: #e28541;
    }

.blazored-sub-menu {
    padding: 0 !important;
    margin: 0 !important;
}
.blazored-sub-menu li a{
    padding-left: 35px !important;
}

.logo-nav {
    max-width: 50px;
}

.modal-title{
    width:100%;
}

.margen-sup {
    margin-top:15px;
}

.margen-sup30 {
    margin-top: 30px;
}

.margen-inf {
    margin-bottom: 15px;
}

.margen-supinf {
    margin-top: 15px;
    margin-bottom:15px;
}
.margen-inf-auto{
    margin-bottom:auto;
}

.module-input-icono {
    position: relative;
    margin-bottom: 10px;
}

.module-input-icono i {
    position: absolute;
    right: 13px;
    z-index: 9;
    top: calc(50% - 7px);
}

.acceso-directo a {
    color: #FFF;
    font-size: 23px;
    font-weight: bolder;
    text-transform: uppercase;
}

.acceso-directo i {
    display: block;
    color: #FFF;
    font-size: 50px;
}

.acceso-directo {
    text-align: center;
    padding: 40px 20px;
    
    background: rgb(174,191,185); 
    background: -moz-linear-gradient(top, rgba(174,191,185,1) 0%, rgba(66,141,145,1) 33%, rgba(0,151,193,1) 100%);
    background: -webkit-linear-gradient(top, rgba(174,191,185,1) 0%,rgba(66,141,145,1) 33%,rgba(0,151,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(174,191,185,1) 0%,rgba(66,141,145,1) 33%,rgba(0,151,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebfb9', endColorstr='#0097c1',GradientType=0 ); /* IE6-9 */
    margin-top: 30px;
    border-radius: 20px;
}

.copyright {
    padding: 10px 0;
}

.copyright span {
    vertical-align: middle;
    margin-top: 15px;
    display: inline-block;
}

.logo-eureka-footer {
    max-width: 100px;
}