@inherits LayoutComponentBase

@inject AuthenticationStateProvider _autenticacion


<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="main">
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <button @onclick="LogOut">Salir</button>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{


    private async Task LogOut()
    {
        ((CustomAuthentication)_autenticacion).MarkUserAsLoggedOut();
        
    }

}