@inherits LayoutComponentBase
@inject  ProtectedSessionStorage _storage
@inject AuthenticationStateProvider _autenticacion
@inject IModalService _modal

@using OikosGreenPortal.Pages.Auth.Cambiar_Clave

    <div class="page">
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                    <NavMenu />
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="main">
            <AuthorizeView>
                <Authorized>
                    <div class="top-row px-4">
                        <Buttons Class="buttonmain">
                            <Button Color="Color.Secondary" Type="ButtonType.Link" To="/transaccion">Transacciones</Button>
                            <Button Color="Color.Secondary" Type="ButtonType.Link" To="/catalogo/tercero">Terceros</Button>
                            <Button Color="Color.Secondary" Type="ButtonType.Link" To="/catalogo/producto">Productos</Button>
                        </Buttons>
                        <a href="#!" @onclick="@(e => changePass())">Cambiar contraseña</a>
                        <a href="#!" @onclick="LogOut">Salir</a>
                    </div>
                </Authorized>
            </AuthorizeView>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>

    @code{


        private infoBrowser userLogueado { get; set; }

        private async Task LogOut()
        {
            ((CustomAuthentication)_autenticacion).MarkUserAsLoggedOut();

        }

        public async Task changePass()
        {
            userLogueado = null;

            try
            {
                var resultado = await _storage.GetAsync<infoBrowser>("data");
                userLogueado = resultado.Value;

                var parameters = new ModalParameters();
                parameters.Add(nameof(NuevaClaveIndex.userLogueado), userLogueado);
                var formModal = _modal.Show<NuevaClaveIndex>("Cambio de Clave", parameters);
                var result = await formModal.Result;

            }
            catch (Exception ex)
            {

            }
        }


    }